@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	padding-top: 20px;
  flex: 1 0 auto;
}

footer {
	padding-top: 50px;
}
